<!DOCTYPE html>
<html>
<head>
  <title>Sample app</title>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/css/commons.css">
  <link rel="stylesheet" type="text/css" href="/css/{{style}}.css">
  <script src="http://fb.me/react-0.12.2.js"></script>
  <script src="http://fb.me/JSXTransformer-0.12.2.js"></script>
  <script src="http://code.jquery.com/jquery-1.10.0.min.js"></script>
</head>
<body>
{{{content}}}
<script type="text/javascript" src="/js/commons.js"></script>
<script type="text/javascript" src="/js/article.bundle.js"></script>
</body>
</html>